@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "IRANSansX";
	src: url("/public/fonts/IRANSansXRegular.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "IRANSansX";
	src: url("/public/fonts/IRANSansXBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
